# Table of Contents
 <p><div class="lev1"><a href="#Import-pandas,-numpy,-matplotlib-and-seaborn"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas, numpy, matplotlib and seaborn</a></div><div class="lev1"><a href="#Create-a-Series-object,-access-it's-index-and-cells"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create a Series object, access it's index and cells</a></div><div class="lev1"><a href="#Create-a-DataFrame-object,-access-its-rows,-columns,-indices,-cells"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create a DataFrame object, access its rows, columns, indices, cells</a></div><div class="lev1"><a href="#Data-Import"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data Import</a></div><div class="lev1"><a href="#DataFrame-filtering"><span class="toc-item-num">5&nbsp;&nbsp;</span>DataFrame filtering</a></div><div class="lev1"><a href="#Data-export"><span class="toc-item-num">6&nbsp;&nbsp;</span>Data export</a></div><div class="lev1"><a href="#DataFrame-aggregation"><span class="toc-item-num">7&nbsp;&nbsp;</span>DataFrame aggregation</a></div><div class="lev1"><a href="#Data-Merging"><span class="toc-item-num">8&nbsp;&nbsp;</span>Data Merging</a></div>

This notebook is to quickly repeat the most basic pandas operations prior to starting the practical course.
You should be able to quickly perform the following tasks before you start working on the exercises in the Day1 notebook. If you need to look up, how certain problems can be solved, have a look at the pandas [10 Minutes Introduction](http://pandas.pydata.org/pandas-docs/stable/10min.html), the [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) and the lecture slides.

# Import pandas, numpy, matplotlib and seaborn

In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
import requests

# Create a Series object, access it's index and cells

Create a Series object representing the following measurements

| S   |
|-----|
| 1.0 |
| 1.5 |
| 3.0 |
| 4.3 |
| 8.2 |

In [2]:
# create a series object with pandas
series = pd.Series([1.0, 1.5, 3.0, 4.3, 8.2])

# access the index of the series
series_ind = series.index

# access the cells of the series, this can be done with loc (which works on labels) or iloc (which works on positions)
series_pos = series.iloc[4] # the 5th cell's value
series_pos2 = series.loc[0] # the value at postion 1

# Create a DataFrame object, access its rows, columns, indices, cells

Create a dataframe of the following table.

|index   |a |b  |c   |d          |e |
|--------|--|---|----|-----------|--|
|1       |2 |3  |5.  |horse      |13|
|2       |3 |1  |1.4 |cat        |11|
|3       |4 |9  |1.2 |dog        |  |
|4       |5 |12 |0.8 |tortoise   |  |
|5       |6 |2  |2.3 |rabbit     |9 |

Now
* access the values of each row individually
* access single cells
* print the index and column names
* access values of each column individually
* rename columns
* extract rows 2-4 as new dataframe
* obtain summary table of dataframe

In [3]:
# create the dataframe 

df = pd.DataFrame([{'a':2, 'b':3, 'c': 5., 'd':'horse', 'e':13},
                  {'a':3, 'b':1, 'c': 1.4, 'd':'cat', 'e':11},
                  {'a':4, 'b':9, 'c': 12, 'd':'tortoise', 'e':None},
                  {'a':5, 'b':12, 'c': 0.8, 'd':'dog', 'e':None},
                  {'a':6, 'b':2, 'c': 2.3, 'd':'rabbit', 'e':9}])

# make the NaNs not appear in dataframe
df = df.fillna("")

# name the index "Index"
df.index.name = "Index"

#reset index to dataframe so it starts couting from 1 instead of 0
df.index = df.index + 1
df.index

# reset index so index and names are on same level
#df = df.reset_index

RangeIndex(start=1, stop=6, step=1, name='Index')

In [4]:
# access single cells. here with iloc, the first [] correspond to the row, the 2nd [] to the column element
access_cell_iloc = df.iloc[1,4]
access_cell_iloc

11.0

In [5]:
# print the index and column names 
print('Index name:', df.index.names)
print('Columns name:', df.columns.values)

Index name: ['Index']
Columns name: ['a' 'b' 'c' 'd' 'e']

In [6]:
# access the values of each row individually 
access_row = df.loc[1:1, ]
access_row2 = df.loc[2:2,]
access_row3 = df.loc[3:3,]
access_row4 = df.loc[4:4,]
access_row5 = df.loc[5:5,]

In [7]:
# Rename the columns
df_renamed = df.rename(columns = {
    'a':'F',
    'b':'u',
    'c':'n',
    'd':'k',
    'e':'y',
})

In [8]:
# extract rows 2 to 4 and create a new dataframe with them 
new_df = df.iloc[1:4]

In [9]:
# obtain a summary of the dataframe 
summary = df.describe()

# Data Import

Import the following file into a dataframe _df2_:

https://raw.githubusercontent.com/sebwink/Integrated_Bioinformatics/master/example_data/example_df.csv

In [10]:
#import the data into a new dataframe df2
url = 'https://raw.githubusercontent.com/sebwink/Integrated_Bioinformatics/master/example_data/example_df.csv'
url_address = requests.get(url).content
df2 = pd.read_csv(io.StringIO(url_address.decode('utf-8')))

Now import the following file into a pandas dataframe _df3_. Do you need to change some parameters of the funtion?
Check whether import makes sense by showing the dataframe

https://raw.githubusercontent.com/sebwink/Integrated_Bioinformatics/master/example_data/example_df2.csv

In [11]:
#import the data into a new dataframe df3 and add ";" as the seperator (this is what had to be changed)
url = 'https://raw.githubusercontent.com/sebwink/Integrated_Bioinformatics/master/example_data/example_df2.csv'
get_url = requests.get(url).content
df3 = pd.read_csv(io.StringIO(get_url.decode('utf-8')), sep=';')

# DataFrame filtering
Using the dataframe created in section 3:

* select rows containing values greater than 2 in the 3rd column
* select rows that contain values greater than 2 in the 3rd column or 'cat' in the 4th column
* drop rows with missing data
* drop duplicate rows
* drop 1st column from dataframe
* sort rows by 2nd column
* convert Strings in 4th column to title-case

In [12]:
# assign df4 to be the previously created df3
df4 = df3

In [13]:
# select rows containing values greater than 2 in the 3rd column
df4 = df4[(df4['c']>2)]

In [14]:
# select rows that contain values greater than 2 in the 3rd column or cat in the 4th column. 
df4 = df4[(df4['c']>2) | (df4['d']=="cat")]

In [15]:
#drop NaNs (I decided to work with the original frame since it makes little sense to do all the following on a 2 row df)
#print('drop NaN', df4.dropna())
df_new4 = df3.dropna()

In [16]:
#identify duplicate rows 
dups_df4 = df_new4.duplicated()
# drop duplicate rows (there are none, so no to drop)
dups_df4 = df_new4.drop_duplicates()

In [17]:
#drop 1st column
df4 = df_new4.drop('a', axis=1)

In [33]:
# sort rows by 2nd column
df4 = df_new4.sort_values(['b'], ascending=[False])

In [65]:
# convert Strings in 4th column to title-case
capitalizer = lambda x: x.upper()
df_new4 = df_new4['d'].apply(capitalizer)

0     HORSE
1       CAT
4    RABBIT
Name: d, dtype: object

# Data export



Export your filtered dataframe as a text file separated by tabs omitting the index column.

In [106]:
# export the filtered df as a textfile separated by tabs and no index colum
df_text = df4_sorted.to_csv()

',a,b,c,d,e\n0,2,3,5.0,horse,13.0\n4,6,2,2.3,rabbit,9.0\n1,3,1,1.4,cat,11.0\n'

# DataFrame aggregation

Using _df4_, group the data by column 'b'. Test different ways of aggregating the remaining columns as shown in the lecture.

In [43]:
# aggregate by column b
df4_groupd = df_new4.groupby('b')

# Data Merging

* Merge df3 with df4 on columns c, d and e. Change columns with same names in a meaningful way.

In [61]:
# merge df3 and df4 on c, d, e ( I used the df from task3)
df_merged = df_new4.merge(df3, on=['c', 'd', 'e'])

# rename columns in more meaningful way
df_merged = df_merged.rename(columns = {
    'c':'merged c',
    'd':'merged d',
    'e':'merded e',
})

   a_x  b_x  merged c merged d  merded e  a_y  b_y
0    2    3       5.0    horse      13.0    2    3
1    3    1       1.4      cat      11.0    3    1
2    6    2       2.3   rabbit       9.0    6    2

* Now perform a full outer join of the data, to keep all rows contained in either of the two dataframes.

In [48]:
# doing a full outer join of data, keeping all rows
df_joined = df_new4.merge(df3, how='outer', left_index=True, right_index=True)

   a_x  b_x  c_x     d_x   e_x  a_y  b_y  c_y       d_y   e_y
0  2.0  3.0  5.0   horse  13.0    2    3  5.0     horse  13.0
1  3.0  1.0  1.4     cat  11.0    3    1  1.4       cat  11.0
2  NaN  NaN  NaN     NaN   NaN    4    9  1.2       dog   NaN
3  NaN  NaN  NaN     NaN   NaN    5   12  0.8  tortoise   NaN
4  6.0  2.0  2.3  rabbit   9.0    6    2  2.3    rabbit   9.0